.createButton{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background-color: #8774E1;
    position: fixed;
    left: 370px;
    bottom: 20px;
    cursor: pointer;
}
.createButton p{
    color: #fff;
    font-size: 25px;
    padding: 20px;

}